@layer base {
     @font-face {
       font-family: "San Francisco Display Ultralight";
       font-style: normal;
       font-weight: 400;
       src: url("../assets/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot");
     }
   
     @font-face {
       font-family: "San Francisco Display Thin";
       font-style: normal;
       font-weight: 400;
       src: url("../assets/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot");
     }
   
     @font-face {
       font-family: "San Francisco Display Medium";
       font-style: normal;
       font-weight: 400;
       src: url("../assets/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot");
     }
   
     @font-face {
       font-family: "San Francisco Display Semibold";
       font-style: normal;
       font-weight: 400;
       src: url("../assets/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot");
     }
   
     @font-face {
       font-family: "San Francisco Display Bold";
       font-style: normal;
       font-weight: 400;
       src: url("../assets/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot");
     }
   }
   